.password-field {
  position: relative;
}
.password-field input {
  padding-right: 45px !important;
}
.password-field button {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 37px;
  height: 37px;
  display: grid;
  place-items: center;
  border: 0;
  background: transparent;
  color: #7b857e;
}
